# node 
package-lock.json 
node_modules/
# circom 
*r1cs
circuits/*_cpp/
circuits/*_js/ 
*/test.circom 
*.ptau
*.zkey 
# test 
data/src/
tmp/
circuits/circomlib/
data/ 
tests/*.json 
keys/
# demo 
demo/*/*.json 
demo/*/*.txt 
demo/*.json 
demo/example_output
demo/P 
demo/R 
demo/C 
demo/PT 

# bench 
bench/*/*.json
bench/*/*_js 
!bench/*/input.json 
bench/*/*.wtns 
bench/*/*.sym 
!/bench/pof/*/out 
!/bench/pof/test_*/eva.sh 
bench/pof/test*/*.json 
bench/pof/test*/test_pof_js 
bench/pof/test*/*.sym 
bench/pof/test*/*.wtns
