# node 
package-lock.json 
node_modules/
# circom 
*r1cs
circuits/*_cpp/
circuits/*_js/ 
*/test.circom 
*.ptau
*.zkey 
# test 
data/src/
tmp/
circuits/circomlib/
data/ 
tests/*.json 
keys/
# demo 
demo/*/*.json 
demo/*/*.txt 
demo/*.json 
demo/example_output